<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blogs</title>
  </head>
  <body>
    <a href="/blogs/add-blog"> Add Blog</a>
    All Blogs are listed here <%blogs.forEach(blog=>{%>
    <p><%= blog.title %></p>
    <p><%= blog.description %></p>
    <a href="/blogs/edit-blog/<%= blog.id %>">Edit</a>
    <a href="/blogs/delete-blog/<%= blog.id %>">Delete</a>
    <%});%>
  </body>
</html>
